{% extends "index.html" %}
{% block content %}

<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <strong>Item</strong> Update
    </div>
     <form method="POST" class="post-form" action="/itemupdate/{{item.Item_id}}"  enctype="multipart/form-data">
      <div class="card-body card-block">
        {% csrf_token %}

        <select id="sub_category" name="sub_category">
          {% for Sub_category in Sub_categorys %}
          <option value="{{ Sub_category.S_Id }}">{{ Sub_category.Name }}</option>
          {% endfor %}
        </select>
        
        <div class="row form-group">
          
          <div class="col col-md-3">
            <label for="Item Name" class=" form-control-label">Item Name</label>
          </div>
          <div class="col-12 col-md-9">
            <input type="text" name="Item_name" id="Item_name" required maxlength="100" value="{{ item.Item_name }}"
              class="form-control">
            <span class="help-block">Please enter your Item Name</span>
          </div>

          <div class="col col-md-3">
            <label for="Item Image" class=" form-control-label">Item Image</label>
          </div>
          <div class="col-12 col-md-9">
            <input type="file" name="Item_image" id="Item_image" required maxlength="20" value="{{ item.Item_image }}"
              class="form-control">
            <span class="help-block">Please set your Image</span>
          </div>

          <div class="col col-md-3">
            <label for="Item Discription" class=" form-control-label">Item Discription</label>
          </div>
          <div class="col-12 col-md-9">
            <input type="text" name="Discription" id="Discription" required maxlength="254" value="{{ item.Discription }}"

              class="form-control">
            <span class="help-block">Please enter your Discription</span>
          </div>

          <div class="col col-md-3">
            <label for="Item Price" class=" form-control-label">Item Price</label>
          </div>
          <div class="col-12 col-md-9">
            <input type="text" name="Item_price" id="Item_price" required maxlength="20" value="{{ item.Item_price }}"

              class="form-control">
            <span class="help-block">Please enter your Price</span>
          </div>
        </div>

     </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-primary btn-sm">
        <i class="fa fa-dot-circle-o"></i> Submit
      </button>
    </div>
  </form>
    
  </div>
  {% endblock %}